@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');


.hidden {
    display: none;
}

body {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#clock {
    font-size: 150px;
    font-weight: 600;
    margin-bottom: 0px;
}

#greeting {
    font-size: 50px;
    font-weight: 400;
}

#login-form input,
#todo-form input {
    border: none; 
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 400;
    background: transparent;
    text-align: center;
}

#login-form input {
    margin-bottom: 15px;
}

#login-form input[type="submit"] {
    color: white;
    font-size: 20px;
    background-color: gray;
    border-radius: 22px;
    padding: 10px;
}

#todo-form input {
    width: 405px;
}

#login-form input:focus,
#todo-form input:focus {
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

#login-form input::placeholder,
#todo-form input::placeholder {
    color: white;
}
#todo-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

#todo-list li {
    list-style-type : none;
    width: 25%;
    display: flex;
}

#todo-list button {
    background-color:transparent;
    border: none;
}

#weather {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;
}